:root {
  accent-color: rgb(5, 82, 199);
  --primary-color: #1649ff;
}

.button.is-primary {
  background-color: var(--primary-color);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  padding: 20px;
  background-color: #fafafa;
  height: 100vh;
}

h2 {
  font-family: Sans-Serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 24px;
}

.kwes-form {
  width: 100%;
  margin: 0 0 30px;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.15);
  padding: 30px;
  background-color: #fff;
}

.checkbox input {
  margin-right: 10px;
}

.button {
  padding: 14px;
}

.select:not(.is-multiple):not(.is-loading):after {
  border-width: 2px;
  width: 0.45rem;
  height: 0.45rem;
  border-color: #bbb;
  top: 20px;
}

.radio-control fieldset label,
.kw-checkbox-group label {
  display: block;
}

.control fieldset legend {
  color: #181818;
  font-size: 0.85rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.kwes-form fieldset legend {
  margin-bottom: 16px;
}

.kwes-form .disclaimer {
  font-size: 0.875rem;
  line-height: 1.25;
  margin-bottom: 15px;
  color: #999;
}

.field.hidden {
  display: none !important;
}
.field.terms {
  margin-bottom: 5px;
}
.field.terms .checkbox {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  line-height: 1;
}

/* .kwes-form .field:not(:last-child):not(.hidden) {
  margin-bottom: 15px;
} */

.control.select:not(.is-multiple) {
  height: inherit;
}

.control {
  width: 100%;
  display: block;
}

.select select {
  width: 100%;
}

.kw-alert {
  width: 100%;
  padding: 15px 18px;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 14px;
  display: block;
  font-weight: normal;
}
.kw-alert a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid;
}
.kw-alert-info {
  color: #2353ff;
  background-color: #e9eeff;
}
.kw-alert-warning {
  color: #bf7502;
  background-color: #fff9ea;
}
.kw-alert-error {
  color: #ff3852;
  background-color: #ffebee;
}
.kw-alert-success {
  color: #257942;
  background-color: #effaf3;
}
.kw-field-error-message {
  font-size: 0.85em;
  color: #ff3852;
  display: block;
}
.kw-color-error {
  color: #ff3852;
}
.kwes-form .kw-border-error {
  border: 1px solid #ff3852;
}
.kwes-form .kw-border-success {
  border: 1px solid #23d160;
}
.kw-loader {
  border: 2px solid transparent;
  text-align: center;
  margin: 0 auto;
  border-top: 2px solid;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: block;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
