@import './bulma.scss';
// TODO: Split up field specific styles into their own related files

:root {
  accent-color: rgb(5, 82, 199);
  --primary-color: #1649ff;

  --kwes-form-box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.15);
  --kwes-form-padding: 30px;
  --kwes-form-bg-color: #fff;
  --kwes-form-margin: 0 0 30px;

  --kwes-form--success-color: #23d160;
  --kwes-form--error-color: #cc0000;
  --kwes-form--error-font-size: 0.85em;

  --kwes-form--disclaimer-color: rgba(0, 0, 0, 0.5);
  --kwes-form--disclaimer-link-color: rgba(0, 0, 0, 0.75);
  --kwes-form--disclaimer-margin: 10px auto;
  --kwes-form--disclaimer-font-size: 0.85rem;
  --kwes-form--disclaimer-line-height: 1.5;

  --kwes-form--label-asterisk-color: rgba(0, 0, 0, 0.65);
  --kwes-form--label-color: rgba(0, 0, 0, 0.75);
  --kwes-form--label-font-size: 1rem;
  --kwes-form--label-font-weight: 700;

  --kwes-form--help-color: rgba(0, 0, 0, 0.65);
  --kwes-form--help-font-size: 0.75rem;
  --kwes-form--help-line-height: 2;

  --kwes-form--button-bg-color: #368ace;
  --kwes-form--button-bg-color-hover: #1471bd;
}


.kwes-form {
  width: 100%;
  margin: var(--kwes-form-margin);
  box-shadow: var(--kwes-form-box-shadow);
  padding: var(--kwes-form-padding);
  background-color: var(--kwes-form-bg-color);

  /* scoped button styles */
  .button {
    // &.is-fullwidth {
    //   width: calc(100% - 2rem);
    // }
    // font-size: 1rem;

    &.is-primary {
      background-color: var(--kwes-form--button-bg-color);
      &:hover {
        background-color: var(--kwes-form--button-bg-color-hover);
      }  
    }
    // &.submit-button {
    //   text-transform: uppercase;
    // }
  }

  .label {
    font-size: var(--kwes-form--label-font-size);
    font-weight: var(--kwes-form--label-font-weight);
    color: var(--kwes-form--label-color);

    &.required {
      &:after {
        content: "*";
        color: var(--kwes-form--label-asterisk-color);
        margin-left: 5px;
      }
    }
  }

  .help {
    font-size: var(--kwes-form--help-font-size);
    line-height: var(--kwes-form--help-line-height);
    color: var(--kwes-form--help-color);
  }
}

// timepicker
.timepicker, .input-tel {
  &:invalid {
    @extend .kw-border-error;
  }
  
  &:valid:after {
    @extend .kw-border-success;
  }
}

.checkbox input {
  margin-right: 10px;
}

.kwes-form .select:not(.is-multiple):not(.is-loading):after {
  // border-width: 2px;
  // width: 0.45rem;
  // height: 0.45rem;
  // border-color: #bbb;
  top: 20px;
}

.kwes-form .select.is-danger::after {
  border-color: var(--kwes-form--error-color);
  top: 35%;
}

.radio-control fieldset label,
.kw-checkbox-group label {
  display: block;
}

.control fieldset legend {
  color: #181818;
  font-size: 0.85rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.kwes-form fieldset legend {
  margin-bottom: 16px;
  width: 100%;
}

.kwes-form .disclaimer {
  font-size: var(--kwes-form--disclaimer-font-size);
  line-height: var(--kwes-form--disclaimer-line-height);
  margin: var(--kwes-form--disclaimer-margin);
  color: var(--kwes-form--disclaimer-color);

  a:hover, a:active, a:focus {
    color: var(--kwes-form--disclaimer-link-color);
  }
}

.field.hidden {
  display: none !important;
}
.field.terms {
  margin-bottom: 5px;
}
.field.terms .checkbox {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  line-height: 1;
}

.control.select:not(.is-multiple) {
  height: inherit;
}

.control {
  width: 100%;
  display: block;
}

.select select {
  width: 100%;
  &.kw-border-success {
    border: 1px solid var(--kwes-form--success-color);
  }
}

.kw-checkbox-group .field {
  margin-bottom: 0;
}

.kw-alert {
  width: 100%;
  padding: 15px 18px;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 14px;
  display: block;
  font-weight: normal;
}
.kw-alert a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid;
}
.kw-alert-info {
  color: #2353ff;
  background-color: #e9eeff;
}
.kw-alert-warning {
  color: #bf7502;
  background-color: #fff9ea;
}
.kw-alert-error {
  color: var(--kwes-form--error-color);
  background-color: #ffebee;
}

.kw-alert-success {
  color: var(--kwes-form--success-color);
  background-color: #effaf3;
}

.kwes-form .kw-field-error-message {
  font-size: var(--kwes-form--error-font-size) !important;
  color: var(--kwes-form--error-color) !important;
  margin-top: 5px;
}

.kwes-form .kw-color-error {
  color: var(--kwes-form--error-color);
}

.kwes-form .kw-border-error {
  border: 1px solid var(--kwes-form--error-color) !important;
}

.kwes-form .kw-border-success {
  border: 1px solid var(--kwes-form--success-color) !important;
}

.kw-loader {
  border: 2px solid transparent;
  text-align: center;
  margin: 0 auto;
  border-top: 2px solid;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: block;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

//
.control {
  box-sizing: border-box;
  clear: both;
  font-size: 1rem;
  position: relative;
  text-align: inherit;
}
.control {
  width: 100%;
  display: block;
}

.input, .textarea, .select, .button, .file-name {
  height: auto;
}

//
/*
.input, .textarea {
  box-shadow: none;
  max-width: 100%;
  width: 100%;
}
.input, .select select, .textarea {
  background-color: #f5f5f5;
  border-color: transparent;
  border-radius: 8px;
  color: #363636;
}
*/